<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2015 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="cordova-plugin-chrome-apps-test-framework"
    version="0.1.0-dev">

  <name>Chrome Apps Test Framework</name>
  <keywords>chrome,test</keywords>
  <repo>https://github.com/MobileChromeApps/cordova-plugin-chrome-apps-test-framework.git</repo>
  <issue>https://github.com/MobileChromeApps/cordova-plugin-chrome-apps-test-framework/issues</issue>

  <js-module src="www/app_helpers.js" name="app_helpers" />
  <js-module src="www/jasmine_helpers.js" name="jasmine_helpers" />
</plugin>
